@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .modalTitle {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.modalCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.modalCloseBtn button {
  font-family: 'Oswald', sans-serif;
  background-color: crimson;
  color: white;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .modalBody {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .modalFooter {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .modalFooter button {
  font-weight: 700;
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: crimson;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
